@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace;
}
html{
    scroll-behavior: smooth;
}

/* Shared CSS styles  */
.description-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(13, 19, 33);
    line-height: 1.625rem;
    opacity: 0.8;
}
.section-title{
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.section-sub-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 2.125rem;
}
/* Shared CSS styles  */


/* Nav style start  */
header{
    width: 100%;
    background-color: #fff;
}
nav{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0px;
}
nav .logo h3{
    font-size: 1.75rem;
    color: rgb(13, 19, 33);
    font-weight: 800;
    cursor: pointer;
}
nav .nav-item button{
    border-radius: 0.625rem;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(13, 19, 33);
    cursor: pointer;
}
nav .nav-item button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    opacity: 0.8;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Nav style ends */


/* Banner section styles start  */
.banner-container{
    /* width: 100%; */
    height: 652px;
    background-image: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.01);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-content .banner-image img{
    width: 240px;
    height: 220px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.banner-content .banner-title h1{
    color: rgb(13, 19, 33);
    font-size: 3rem;
    font-weight: 800;
    margin: 0 auto;
    line-height: 4.25rem;
    margin-bottom: 1.5rem;
    max-width: 1140px;
}
.banner-content .banner-description{
    max-width: 1000px;
    margin-bottom: 2rem;
}
.banner-content .banner-btn a{
    padding: 1.25rem 1.5rem;
    margin-bottom: 2.75rem;
    border-radius: 0.50rem;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
    transition: 0.2s ease-in;
}

.banner-content .banner-btn a:hover {
    background-color: rgb(25, 31, 45); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/* Banner section styles ends  */


/* Main styles  */
main{
    max-width: 1140px;
    margin: 0 auto!important;
}
section{
    margin-top: 6rem;
}
/* Main styles  */


/* Why Web development and skills styles  */
.webDevelopment-container{
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 4.625rem;
    padding: 5rem 6rem;
}
.whyWeb-development{
    text-align: center;
    margin-bottom: 3rem;
}
.webDevelopment-container .my-skills{
    display: flex;
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}
.webDevelopment-container .skill-left{
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.webDevelopment-container .my-skills button{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 0.75rem 1.25rem;
    margin-top: 2rem;
    transition: 0.3s ease-in;
}
.webDevelopment-container .my-skills button a{
    font-size: 1.125rem;
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-weight: 600;
    opacity: 0.9;
}
.webDevelopment-container .my-skills button:hover{
    opacity: 1;
}
.webDevelopment-container .skills-content{
    width: 60%;
}
/* Why Web development and skills styles  */


/* My inspiration section styles here  */
.myInspiration-content{
    text-align: center;
}
.myInspiration-content .description-text,
.myCurrentTarget-content .description-text,
.myNextTarget-content .description-text
{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.myInspiration-media{
    padding: 2rem;
    height: 550px;
}
.myInspiration-media .video{
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
}
/* My inspiration section styles here  */


/* My current target styles here  */
.myCurrentTarget-content, .myNextTarget-content{
    text-align: center;
}
.myCurrentTargeted-items{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.myCurrentTargeted-items .items-card{
    padding: 2.5rem;
    border-radius: 0.625rem;
}
.items-card .items-title{
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 1.8rem;
    border-radius: 1rem;
}
.items-card .description-text{
    font-size: .9rem;
    margin-top: .7rem;
}
.myCurrentTargeted-items .card-one{
    background-color: rgba(255, 76, 30, 0.05);
    flex: 1;
}
.myCurrentTargeted-items .card-two{
    background-color: rgba(0, 76, 232, 0.05);
    flex: 1;
}
.myCurrentTargeted-items .card-three{
    background-color: rgba(255, 223, 0, 0.05);
    flex: 1;
}
.myCurrentTargeted-items .items-card a,
.myNextTargeted-items .items-card a
{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-top: 1.5rem;
    display: block;
    transition: 0.3s ease-in;
}
.myCurrentTargeted-items .items-card a:hover,
.myNextTargeted-items .items-card a:hover
{
    color: #0065f4;
}
/* My current target styles here  */


/* Optional part  */
/* My next targeted styles here  */
.myNextTargeted-items .items-card{
    display: flex;
    padding: 2.5rem;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}
.myNextTargeted-items .items-img{
    width: 250px;
    margin-right: 4rem;
}
.myNextTargeted-items .items-img img{
    width: 150%;
}

/* My next targeted styles here  */


/* Support section styles here  */
.support-container{
    background-image: url(../assets/handshake.jpg);
    height: 313px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.support-container .feedback .feedback-massage{
    border: none;
    outline: none;
    background-color: #fff;
    width: 548px;
    height: 57px;
    border-radius: 10px;
    padding: 19px;
}
.support-container .feedback .feedback-submit{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}
.support-container .support-title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.support-container .description-text{
    color: #fff;
    opacity: 0.7;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
/* Support section styles here  */


/* Footer section styles here  */
#footer{
    width: 100%;
    height: 100px;
    background-color: #f7f8f8;
    margin-top: 5rem;
    display: flex;
    align-items: center;
}
.footer-content{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 auto;
}
.footer-content .footer-text p{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(13, 19, 33);
}
.footer-content .social-items a{
    margin-left: 1.5rem;
}
/* Footer section styles here  */